Flask
moviepy
gTTS
requests
googletrans
gradio_client      # Para interagir com APIs Gradio
pydub         # Para manipulação de áudio
numpy        # Dependência do moviepy e pydub
imageio       # Dependência do moviepy
imageio-ffmpeg        # Para processamento de vídeo no moviepy